@import "tailwindcss";

/* Variables globales qui ne sont pas facilement remplaçables par Tailwind */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utilisons les styles qui ne peuvent pas être facilement remplacés par Tailwind */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
